@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.bg-body {
  background: #8791a3;
}

body {
  font-family: system-ui;
}

/*.bg-network {
  background: url(/images/back-network.png) top right no-repeat;
}*/
